/* FOR FUN AND SELF-STUDY */
/* FONT AND SOME SPACE BELOW */
body {
  font-family: Arial;
  text-align: center;
}

/* MAIN DESCRIPTION */
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 40px;
  animation: rainbow-heading 10s infinite;
}

@keyframes rainbow-heading {
  0% {
    background-color: peachpuff;
  }
  10% {
    background-color: yellow;
  }
  20% {
    background-color: greenyellow;
  }
  30% {
    background-color: skyblue;
  }
  40% {
    background-color: blue;
  }
  50% {
    background-color: orange;
  }
  60% {
    background-color: purple;
  }
  70% {
    background-color: fuchsia;
  }
  80% {
    background-color: palegoldenrod;
  }
  90% {
    background-color: aquamarine;
  }
  100% {
    background-color: peachpuff;
  }
}

/* QUESTION DESCRIPTION */
p {
  font-size: 20px;
  font-weight: bold;
}

/* STYLE FOR DIV CONTAINER EVERY TOPIC */
.style-html-container,
.style-css-container {
  border-radius: 40px;
  padding: 30px;
  margin: 10px;
}

/* BACKGROUND STYLE FOR EVERY TOPIC */
.html-background {
  background-color: peachpuff;
}

.css-background {
  background-color: yellow;
}

/* STYLE FOR DIV CONTAINER INSIDE FOR BUTTON ANSWER  */
/* (THIS NEEDS BECAUSE BUTTON MAKE INVISIBLE BORDERS AND U CANT SEE WHERE ARE ACTUALLY ANSWERS) */
.button-container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* STYLE FOR BUTTON ANSWER */
button {
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
  border: none;
}

/* HOVER EFFECT */
button:hover {
  opacity: 1;
}
