body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  color: white;
}
.wrapper {
  margin: 50px;
}

.maxi {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}

.mini-empty {
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
}

.info-html {
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid;
  border-left-style: dashed;
  border-top-color: #16db93;
  border-bottom-color: red;
  border-left-color: red;
  border-right-color: #16db93;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.info-css {
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid;
  border-left-style: dashed;
  border-top-color: #16db93;
  border-bottom-color: red;
  border-left-color: red;
  border-right-color: #16db93;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
.info-javascript {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid;
  border-left-style: dashed;
  border-bottom-style: dashed;
  border-top-color: #16db93;
  border-bottom-color: red;
  border-left-color: red;
  border-right-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
.info-dom {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid;
  border-left-style: dashed;
  border-bottom-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-deepdive {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-fetch {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-terminal {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-top-style: solid;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-node {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-databases {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-react {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-top-style: solid;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-typescript {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-networks {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-cloud {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-security {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}
.info-ssr {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 8px white;
}

@media screen and (max-width: 1300px) {
  #for-mobile {
    width: 125px;
    height: 125px;
    font-size: 1.2rem;
    border-width: 7px;
  }
  .mini-empty {
    width: 75px;
    height: 75px;
  }
  .maxi {
    margin-top: 65px;
  }
}

@media screen and (max-width: 1050px) {
  #for-mobile {
    width: 100px;
    height: 100px;
    font-size: 1rem;
    border-width: 6px;
  }
  .mini-empty {
    width: 50px;
    height: 50px;
    color: black;
  }
  .maxi {
    margin-top: 85px;
  }
}

@media screen and (max-width: 820px) {
  #for-mobile {
    width: 75px;
    height: 75px;
    font-size: 0.8rem;
    border-width: 5px;
  }
  .mini-empty {
    width: 50px;
    height: 50px;
    color: darkcyan;
  }
  .maxi {
    margin-top: 115px;
  }
}

/* for mobile */

@media screen and (max-width: 690px) {
  #for-mobile {
    width: 200px;
    height: 200px;
    font-size: 2rem;
    border-width: 10px;
  }
  .mini-empty {
    width: 100px;
    height: 100px;
    color: darkcyan;
  }
  .maxi {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
  }
}
