body {
  font-family: Comfortaa;
  background-color: rgb(50, 50, 50);
  color: white;
  margin: 0;
}
/* NAVIGATION CONTAINER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 20px;
  z-index: 60;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.burger-button {
  display: none;
}

.logo-image {
  width: 80px;
}

.nav {
  display: flex;
  width: 50%;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

a {
  color: black;
  text-decoration: none;
}

.my-svg {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  animation: animationOpacity 2s 3.5s forwards;
}

@keyframes animationOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT ME CONTAINER */
.about-me-container {
  margin-top: 250px;
  text-align: center;
  z-index: 1;
}

.main-info-about-me {
  font-size: 65px;
  font-weight: bold;
  opacity: 0;
  animation: main-info-opac 1s 0.5s forwards;
}

.info-about-me {
  font-size: 16px;
  opacity: 0;
  margin-bottom: 50px;
  animation: main-info-opac 1s 1s forwards;
}

.opac1 {
  opacity: 0;
  animation: main-info-opac 1s 1.5s forwards;
}

.opac2 {
  opacity: 0;
  animation: main-info-opac 1s 2s forwards;
}

.opac3 {
  opacity: 0;
  animation: main-info-opac 1s 2.5s forwards;
}

.resume-button {
  font-family: Comfortaa;
  width: 150px;
  height: 50px;
  color: black;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: main-info-opac 1s 3s forwards;
}

.resume-button:hover {
  color: white;
  background-color: #a8dadc;
  box-shadow: 0 15px 20px #a8dadc7f;
  transform: translateY(-7px);
}

@keyframes main-info-opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* PORTFOLIO CONTAINER */
.main-project-container {
  background-color: white;
  color: black;
  width: 100%;
  margin-top: 210px;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 500px;
  border-radius: 50px;
}

.main-portfolio-info {
  font-size: 40px;
  font-weight: bold;
}

.portfolio-info {
  font-size: 18px;
}

.grid-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 380px;
  gap: 25px;
  padding-bottom: 200px;
}

.project-link-pro {
  width: 100%;
  height: 100%;
  background-image: url(/img/Progress-img.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.project-link-gal {
  width: 100%;
  height: 100%;
  background-image: url(/img/Gallery-img.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
}

.project-link-amazon {
  width: 100%;
  height: 100%;
  background-image: url(/img/Amazon-img.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* .project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 320px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  background-color: black;
} */

.fa-html5 {
  color: red;
}

.fa-css3-alt {
  color: blue;
}

.img-phone {
  float: right;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

/* FORM CONTAINER */
.main-form-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 1000px;
  margin-bottom: 500px;
  border-radius: 50px;
}

.form-container {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  background-color: white;
  color: black;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.info-contact-me {
  font-size: 3rem;
  text-align: center;
}

.input-info {
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
}

.input-message-info {
  border: none;
  padding: 10px 0 150px 10px;
  width: 580px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.form-submit-button {
  background-color: white;
  font-size: 16px;
  border: none;
  border: 1px solid #a8dadc;
  padding: 20px 60px;
  cursor: pointer;
  color: #a8dadc;
  border-radius: 10px;
  transition: all 0.5s;
}

.form-submit-button:hover {
  transform: scale(1.1);
  color: white;
  box-shadow: inset 65px 0 0 #a8dadc, inset -65px 0 0 #a8dadc,
    inset 0 20px 0 #a8dadc, inset 0 -20px 0 #a8dadc;
  border: none;
}

.footer-section {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px;
}

.logo-image-footer {
  width: 100px;
}

.link-img-footer {
  display: inline-block;
  margin: 0 auto;
}

.info-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-icon a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  color: white;
  transition: color 0.15s;
}

.info-icon a:hover {
  color: #a8dadc;
}

.info-icon2 {
  position: fixed;
  bottom: 50px;
  animation: changeFontIcon 1s;
}

@keyframes changeFontIcon {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-icon2 a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  color: white;
}

.menu-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
  z-index: 9999;
}

.exit-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  animation: changeExitButton 1s;
}

@keyframes changeExitButton {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link-menu-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.link1 {
  color: transparent;
  animation: changeLink1 1s 0.1s forwards;
}

.link2 {
  color: transparent;
  animation: changeLink1 1s 0.2s forwards;
}

.link3 {
  color: transparent;
  animation: changeLink1 1s 0.3s forwards;
}

.link4 {
  color: transparent;
  animation: changeLink1 1s 0.4s forwards;
}
@keyframes changeLink1 {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .grid-section {
    grid-template-columns: 400px 400px;
  }
}

@media screen and (max-width: 900px) {
  .burger-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }

  .fa-xmark {
    color: white;
  }

  .nav {
    display: none;
    text-align: center;
  }

  .nav ul {
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .grid-section {
    grid-template-columns: 380px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 500px) {
  .about-me-container {
    margin-top: 300px;
  }
  .main-info-about-me {
    font-size: 30px;
  }

  .info-about-me {
    font-size: 12px;
  }
  .main-portfolio-info {
    font-size: 30px;
  }

  .portfolio-info {
    font-size: 15px;
  }

  .info-contact-me {
    font-size: 2rem;
  }

  .main-form-container {
    height: 600px;
  }

  .form-container {
    width: 80%;
    height: 500px;
  }
  .input-info {
    margin-top: 10px;
    width: 100px;
    padding: 15px 15px;
  }

  .input-message-info {
    margin-top: 10px;
    width: 260px;
    padding: 10px 0 100px 10px;
  }

  .form-submit-button {
    font-size: 14px;
    padding: 10px 40px;
  }
}
