html {
  scroll-behavior: smooth;
}

body {
  font-family: Comfortaa, serif;
  color: black;
  margin: 0;
}

/* HEADER SECTION */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0 20px;
  z-index: 60;
  transition: all 0.3s;
  border-radius: 50px;
}

.logo-header {
  width: 80px;
}

.new-features {
  background-color: transparent;
  border-radius: 50px;
  transition: all 0.5s;
}

.new-features:hover {
  background-color: rgba(149, 149, 149, 0.5);
}

.new-features:hover .day-night-style {
  margin-right: 40px;
}

.day-night-style,
.song-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: transparent;
  transition: all 0.5s;
}

.burger-button {
  display: none;
  color: black;
}

.nav {
  display: flex;
  width: 50%;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

a {
  color: black;
  text-decoration: none;
}

.nav a {
  font-weight: 100;
}

/* ABOUT ME SECTION */
.about-me-container {
  padding-top: 250px;
  text-align: center;
  z-index: 1;
}

.main-info-about-me {
  font-size: 65px;
  font-weight: bold;
  opacity: 0;
  animation: main-info-opac 1s 0.5s forwards;
}

.info-about-me {
  font-size: 16px;
  opacity: 0;
  margin-bottom: 50px;
  animation: main-info-opac 1s 1s forwards;
}

.opac1 {
  opacity: 0;
  animation: main-info-opac 1s 1.5s forwards;
}

.opac2 {
  opacity: 0;
  animation: main-info-opac 1s 2s forwards;
}

.opac3 {
  opacity: 0;
  animation: main-info-opac 1s 2.5s forwards;
}

.resume-button {
  font-family: Comfortaa;
  width: 150px;
  height: 50px;
  color: black;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: main-info-opac 1s 3s forwards;
}

.resume-button:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

@keyframes main-info-opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* PORTFOLIO SECTION */
.main-project-container {
  width: 100%;
  margin-top: 210px;
  padding-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  background: linear-gradient(89deg, #32389b, #2cd8db, #94a5e4, #fd5f81, #283cbe);
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-portfolio-info {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: white !important;
}

.portfolio-info {
  font-size: 18px;
  color: white !important;
}

.grid-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 400px 400px 400px;
  gap: 25px;
  padding-bottom: 200px;
}

.project-container-example1,
.project-container-example2,
.project-container-exampl,
.project-container-thae,
.project-container-gal,
.project-container {
  position: relative;
  width: 400px;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 50px;
}

.project-container1,
.project-container2,
.project-container3,
.project-container4,
.project-container5,
.project-container6 {
  position: relative;
  width: 400px;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 25px;
  scale: 0.8;
}

.project-container1 {
  background-image: url(/img/gym-site.jpg);
}

.project-container2 {
  background-image: url(/img/art-portfolio1.jpg);
}

.project-container3 {
  background-image: url(/img/theatre.jpg);
}

.project-container4 {
  background-image: url(/img/Amazon-img.JPG);
}

.project-container5 {
  background-color: rgb(28, 252, 125);
}

.project-container6 {
  background-color: rgb(252, 92, 92);
}

.content-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 40%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  border-radius: 50px;
  transition: all 0.5s;
}

.content-item a {
  color: white;
  font-size: 30px;
}

.project-container-example1:hover .content-item,
.project-container-exampl:hover .content-item,
.project-container-thae:hover .content-item,
.project-container-gal:hover .content-item,
.project-container-example2:hover .content-item,
.project-container:hover .content-item {
  opacity: 1;
}

/* SKILLS SECTION*/
.skills-container {
  background: transparent;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.skills-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-template-columns: 200px 200px 200px 200px;
  margin-bottom: 50px;
}

.current-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-template-columns: 200px;
  margin-bottom: 50px;
}

.skills-container i {
  font-size: 3rem;
  transition: transform 0.5s;
}

.skills-container i:hover {
  transform: scale(1.5);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.icon-container-current {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

/* CONTACT ME SECTION */
.main-form-container {
  position: relative;
  right: 0;
  left: 0;
  min-height: 900px;
  background: transparent;
}

.form-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-color: transparent;
}

input,
textarea {
  color: #000;
}

.info-contact-me {
  font-size: 3rem;
  text-align: center;
}

.input-info {
  background: rgba(200, 200, 200, 0.2);
  width: 250px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.input-subject-info {
  background: rgba(200, 200, 200, 0.2);
  width: 550px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  z-index: 0;
}

.input-message-info {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  border: none;
  padding: 20px;
  width: 550px;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.2);
  outline: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgb(150, 150, 150);
}

input::placeholder,
textarea::placeholder {
  color: rgb(150, 150, 150);
}

.form-submit-button {
  font-family: Comfortaa, serif;
  font-weight: 100;
  background: black;
  font-size: 16px;
  border: 2px solid white;
  padding: 20px 60px;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  transition: all 0.15s;
}

.form-submit-button:hover {
  background-color: rgb(81, 81, 81);
}

.form-submit-button:active {
  background-color: rgb(122, 122, 122);
}

/* FOOTER SECTION */
.footer-section {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 500px;
  background: rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-radius: 50px 50px 0 0;
}

.logo-footer {
  width: 100px;
}

.link-logo-footer {
  display: inline-block;
  margin: 0 auto;
}

.main-quote {
  text-align: center;
}

.only-word {
  display: inline-block;
  width: 85px;
  animation: opacityFor 2s infinite;
}

@keyframes opacityFor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.info-icon {
  display: flex;
  justify-content: center;
}

.info-icon a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  color: black;
  transition: color 0.15s;
}

/* MOBILE MENU SECTION */
.menu-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
}

.exit-menu-button {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  width: 50px;
  height: 50px;
  color: black;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  animation: changeExitButton 1s;
}

@keyframes changeExitButton {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.link-menu-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.5;
}

.link-menu-container a {
  color: black;
}

.link1 {
  position: relative;
  opacity: 0;
  animation: changeLink1 1s 0.1s forwards;
}

.link2 {
  position: relative;
  opacity: 0;
  animation: changeLink1 1s 0.2s forwards;
}

.link3 {
  position: relative;
  opacity: 0;
  animation: changeLink1 1s 0.3s forwards;
}

.link4 {
  position: relative;
  opacity: 0;
  animation: changeLink1 1s 0.4s forwards;
}

.link5 {
  position: relative;
  opacity: 0;
  animation: changeLink1 1s 0.5s forwards;
}

.link1::after,
.link2::after,
.link3::after,
.link4::after,
.link5::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: black;
  transition: width 0.3s;
}

.link1:hover::after,
.link2:hover::after,
.link3:hover::after,
.link4:hover::after,
.link5:hover::after {
  width: 100%;
}

@keyframes changeLink1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.info-icon2 {
  position: fixed;
  bottom: 50px;
  animation: changeFontIcon 1s;
}

@keyframes changeFontIcon {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.info-icon2 a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  color: black;
}

/* TO TOP BUTTON */
.style-to-top-btn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  background: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  cursor: pointer;
  border-radius: 50%;
}

@keyframes toTopButton {
  from {
    bottom: -50px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes toDownButton {
  from {
    bottom: 30px;
  }
  to {
    bottom: -50px;
  }
}
/* RESPONSIVE DESIGN */
@media screen and (max-width: 1280px) {
  .grid-section {
    grid-template-columns: 400px 400px;
  }
  .main-project-container {
    margin-top: 210px;
  }
}
@media screen and (max-width: 1100px) {
  .burger-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  .nav {
    display: none;
    text-align: center;
  }
  .nav ul {
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .grid-section {
    grid-template-columns: 400px;
    row-gap: 50px;
  }
  .about-position {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 100px;
  }
  .project-container {
    position: sticky;
    top: 200px;
    margin-bottom: 260px;
    z-index: 10;
  }
  .project-container-gal {
    position: sticky;
    top: 250px;
    margin-bottom: 210px;
    z-index: 11;
  }
  .project-container-thae {
    position: sticky;
    top: 300px;
    margin-bottom: 160px;
    z-index: 12;
  }
  .project-container-exampl {
    position: sticky;
    top: 350px;
    margin-bottom: 110px;
    z-index: 13;
  }
  .project-container-example1 {
    position: sticky;
    top: 400px;
    margin-bottom: 60px;
    z-index: 14;
  }
  .project-container-example2 {
    position: sticky;
    top: 450px;
    z-index: 15;
  }
  .main-project-container {
    height: 2590px;
    margin-top: 210px;
    padding-bottom: 1000px;
  }
  .skills-grid {
    gap: 10px;
    grid-template-columns: 100px 100px 100px 100px;
  }
  .current-grid {
    gap: 10px;
    grid-template-columns: 100px;
  }
  .icon-container,
  .icon-container-current {
    width: 100px;
    height: 100px;
  }
  .skills-container i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .about-me-container {
    padding-top: 300px;
  }
  .main-info-about-me {
    font-size: 30px;
  }
  .info-about-me {
    font-size: 12px;
  }
  .main-portfolio-info {
    font-size: 30px;
  }
  .portfolio-info {
    font-size: 15px;
  }
  .info-contact-me {
    font-size: 2rem;
  }
  .main-form-container {
    height: 600px;
  }
  .form-container {
    width: 80%;
    height: 500px;
  }
  .input-info {
    width: 150px;
    padding: 15px;
  }
  .input-subject-info,
  .input-message-info {
    width: 340px;
    padding: 15px;
  }
  .form-submit-button {
    font-size: 14px;
    padding: 10px 40px;
  }
  .skills-grid {
    gap: 10px;
    grid-template-columns: 75px 75px 75px 75px;
  }
  .current-grid {
    gap: 10px;
    grid-template-columns: 75px;
  }
  .icon-container,
  .icon-container-current {
    width: 75px;
    height: 75px;
  }
  .skills-container i {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */